/*=====================
    Reset CSS start
==========================*/
@media (min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

section,
.section-t-space {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.section-b-space {
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.section-mt-space {
    margin-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.section-mb-space {
    margin-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.text-content {
    color: rgba(var(--content-color), 1) !important;
}

.text-title {
    color: rgba(var(--title-color), 1) !important;
}

.text-theme-color {
    color: rgba(var(--theme-color1), 1) !important;
}
