/*=====================
    Variables start
==========================*/

// font family
$outfit: "Outfit", sans-serif;

// icon font family
$remixicon: remixicon !important;

// marketing agency variables
:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --title-color: 245, 245, 245;
    --content-color: 125, 126, 162;
    --theme-color: 59, 237, 178;
}
