/**=====================
     Landing Page scss
==========================**/
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --title-color: 245, 245, 245;
  --content-color: 110, 113, 121;
  --theme-color: 59, 237, 178;
  --dark-title: 13, 18, 31;
  --Iconsax-Color: #6e7179;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Outfit", sans-serif;
  background: linear-gradient(0deg, #0a0e17, #0a0e17), linear-gradient(179.9deg, #0a5b75 -47.93%, #02111a 98.07%);
}
body:after {
  content: "";
  position: absolute;
  background-image: url(../images/about-bg.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.65;
  background-attachment: fixed;
  background-size: cover;
}
body.inner-bg:after {
  background-image: url(../images/inner-bg.png);
}

h1 {
  font-weight: 600;
  font-size: calc(22px + 34 * (100vw - 320px) / 1600);
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h2 {
  font-size: calc(20px + 20 * (100vw - 320px) / 1600);
  font-weight: 600;
}

h3 {
  font-size: calc(18px + 2 * (100vw - 320px) / 1600);
  font-weight: 400;
}

h4 {
  font-size: calc(16px + 2 * (100vw - 320px) / 1600);
  font-weight: 400;
}

h5 {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: calc(14px + 4 * (100vw - 320px) / 1600);
  color: rgba(var(--content-color), 1);
  font-weight: 400;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: rgba(var(--theme-color), 1);
}

a {
  text-decoration: none;
  color: rgba(var(--theme-color), 1);
}
a:hover {
  color: rgba(var(--theme-color), 1);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
[dir=rtl] ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

li {
  list-style: none;
  display: inline-block;
}

.btn-solid {
  background-color: rgba(var(--theme-color), 1);
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  color: rgba(var(--dark-title), 1);
  padding: 11px 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(var(--theme-color), 1);
  border-radius: 8px;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-solid .iconsax svg [fill] {
  fill: rgba(var(--dark-title), 1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-solid:hover {
  background-color: transparent;
  color: rgba(var(--white), 1);
}
.btn-solid:hover .iconsax svg [fill] {
  fill: rgba(var(--white), 1);
}

/*=====================
    Reset Scss start
==========================*/
@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
section,
.section-t-space {
  padding-top: calc(40px + 60 * (100vw - 320px) / 1600);
}

.section-b-space {
  padding-bottom: calc(40px + 60 * (100vw - 320px) / 1600);
}

.section-mt-space {
  margin-top: calc(40px + 60 * (100vw - 320px) / 1600);
}

.section-mb-space {
  margin-bottom: calc(40px + 60 * (100vw - 320px) / 1600);
}

.text-content {
  color: rgba(var(--content-color), 1) !important;
}

.text-title {
  color: rgba(var(--title-color), 1) !important;
}

.text-theme-color {
  color: rgba(var(--theme-color1), 1) !important;
}

.theme-controller {
  display: none;
}

/*=====================
    Header Scss start
==========================*/
nav.navbar {
  padding: 26px 100px 0;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}

.navbar-nav {
  gap: 10px;
}
.navbar-nav .nav-link {
  color: rgba(var(--title-color), 1);
  font-size: 20px;
  position: relative;
  padding-left: 18px !important;
}
.navbar-nav .nav-link:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar-nav .nav-link.active {
  color: rgba(var(--theme-color), 1);
}
.navbar-nav .nav-link.active:before {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.home-section {
  padding: 0 100px;
  height: 100vh;
  background-image: url("../images/landing/home-bg.jpg");
  background-size: cover;
}
.home-section .home-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.home-section .home-sec .home-content {
  width: 38%;
}
.home-section .home-sec .home-content h2 {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 50px;
  color: rgba(var(--theme-color), 1);
  padding: 0 40px;
  display: inline-block;
  position: relative;
}
.home-section .home-sec .home-content h2:after, .home-section .home-sec .home-content h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 20px;
  background-color: rgba(var(--theme-color), 1);
}
.home-section .home-sec .home-content h2:before {
  left: unset;
  right: 0;
}
.home-section .home-sec .home-content h1 {
  font-family: "Play", sans-serif;
  font-size: 70px;
  line-height: 1.2;
  color: rgba(var(--title-color), 1);
}
.home-section .home-sec .home-content p {
  color: rgba(var(--content-color), 1);
  font-size: 20px;
  margin-bottom: 0;
}
.home-section .home-sec .home-content .btn-solid {
  margin-top: 55px;
}
.home-section .home-sec .home-img {
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
  padding-right: 40px;
}

/*=====================
    Custom cursor Scss start
==========================*/
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 20px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(var(--theme-color), 1);
          box-shadow: 0 0 0 1px rgba(var(--theme-color), 1);
  pointer-events: none;
  -webkit-transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

@media (max-width: 768px) {
  #cursor {
    display: none;
  }
  #cursor-border {
    display: none;
  }
}
/*=====================
    tap to top Scss start
==========================*/
.tap-to-top-box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
[dir=rtl] .tap-to-top-box {
  right: unset;
  left: 30px;
}
.tap-to-top-box.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.tap-to-top-box .tap-to-top-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: rgba(var(--theme-color), 1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}
.tap-to-top-box .tap-to-top-button .iconsax svg [fill] {
  fill: rgba(var(--dark-title), 1);
}
/*# sourceMappingURL=landing.css.map */