/*=====================
    Variables start
==========================*/
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --title-color: 245, 245, 245;
  --content-color: 110, 113, 121;
  --theme-color: 59, 237, 178;
}

/*=====================
    Reset CSS start
==========================*/
@media (min-width: 1470px) {
  .container {
    max-width: 1430px;
  }
}
section,
.section-t-space {
  padding-top: calc(30px + 70 * (100vw - 320px) / 1600);
}

.section-b-space {
  padding-bottom: calc(30px + 70 * (100vw - 320px) / 1600);
}

.text-content {
  color: rgba(var(--content-color), 1) !important;
}

.text-title {
  color: rgba(var(--title-color), 1) !important;
}

.text-theme-color {
  color: rgba(var(--theme-color1), 1) !important;
}

/*=====================
    Typography CSS start
==========================*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Outfit", sans-serif;
  background: linear-gradient(0deg, #0a0e17, #0a0e17), linear-gradient(179.9deg, #0a5b75 -47.93%, #02111a 98.07%);
  height: 5000px;
}

h1 {
  font-weight: 600;
  font-size: calc(22px + 34 * (100vw - 320px) / 1600);
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h2 {
  font-size: calc(20px + 20 * (100vw - 320px) / 1600);
  font-weight: 600;
}

h3 {
  font-size: calc(18px + 2 * (100vw - 320px) / 1600);
}

h4 {
  font-size: calc(16px + 2 * (100vw - 320px) / 1600);
}

h5 {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
}

h6 {
  font-size: 14px;
}

p {
  font-size: calc(14px + 4 * (100vw - 320px) / 1600);
  color: rgba(var(--content-color), 1);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
[dir=rtl] ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

li {
  list-style: none;
  display: inline-block;
}

/*=====================
    Animation Scss start
==========================*/
/*=====================
    Button Scss start
==========================*/
.btn {
  font-size: 22px;
  color: rgba(var(--theme-color), 1);
  font-weight: 500;
}

.btn-theme {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 20px;
  background: rgba(var(--theme-color), 0.21);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 8px;
  padding: 12px 40px;
}
.btn-theme span {
  margin: auto;
  color: rgba(var(--theme-color), 1);
}
.btn-theme:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background: linear-gradient(114.72deg, rgba(62, 255, 255, 0.5) -16.82%, rgba(58, 237, 177, 0.5) 59.74%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* [2] */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border: 1px solid;
  border-image-source: linear-gradient(114.72deg, rgba(62, 255, 255, 0.5) -16.82%, rgba(58, 237, 177, 0.5) 59.74%);
}
.btn-theme:hover {
  background: rgba(var(--theme-color), 0.21);
  -webkit-box-shadow: 0 0 17px 3px rgba(52, 208, 156, 0.34);
          box-shadow: 0 0 17px 3px rgba(52, 208, 156, 0.34);
}

/*=====================
    Custom cursor Scss start
==========================*/
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 20px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(var(--theme-color), 1);
          box-shadow: 0 0 0 1px rgba(var(--theme-color), 1);
  pointer-events: none;
  -webkit-transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

/*=====================
    form Scss start
==========================*/
.input-group > .form-control:focus, .input-group > .form-control:focus-within,
.input-group > .form-floating:focus,
.input-group > .form-floating:focus-within,
.input-group > .form-select:focus,
.input-group > .form-select:focus-within {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: unset;
}

/*=====================
 Image-ratio start
==========================*/
.ratio_40 .bg-size:before {
  padding-top: 40%;
  content: "";
  display: block;
}

.ratio_45 .bg-size:before {
  padding-top: 45%;
  content: "";
  display: block;
}

.ratio2_1 .bg-size:before {
  padding-top: 50%;
  content: "";
  display: block;
}

.ratio2_3 .bg-size:before {
  padding-top: 60%;
  content: "";
  display: block;
}

.ratio3_2 .bg-size:before {
  padding-top: 66.66%;
  content: "";
  display: block;
}

.ratio_landscape .bg-size:before {
  padding-top: 75%;
  content: "";
  display: block;
}

.ratio_square .bg-size:before {
  padding-top: 100%;
  content: "";
  display: block;
}

.ratio_115 .bg-size:before {
  padding-top: 115%;
  content: "";
  display: block;
}

.ratio_125 .bg-size:before {
  padding-top: 125%;
  content: "";
  display: block;
}

.ratio_asos .bg-size:before {
  padding-top: 127.7777778%;
  content: "";
  display: block;
}

.ratio_portrait .bg-size:before {
  padding-top: 150%;
  content: "";
  display: block;
}

.ratio1_2 .bg-size:before {
  padding-top: 200%;
  content: "";
  display: block;
}

.b-top {
  background-position: top !important;
}

.b-bottom {
  background-position: bottom !important;
}

.b-center {
  background-position: center !important;
}

.b_size_content {
  background-size: contain !important;
  background-repeat: no-repeat;
}

/*=====================
    Slider Scss start
==========================*/
/*=====================
    Title Scss start
==========================*/
/**=====================
     nav scss
==========================**/
header .main-nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  header .main-nav {
    padding: 0;
  }
}
header .nav-left-align .navbar-nav .dropdown-menu-2 {
  left: 0;
  -webkit-transform: unset;
          transform: unset;
}
[dir=rtl] header .nav-left-align .navbar-nav .dropdown-menu-2 {
  left: unset;
  right: 0;
}
header .icon-box {
  display: inline-block;
  margin-right: 10px;
}
header .dropdown-header {
  display: block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: rgba(var(--theme-color), 1);
  white-space: nowrap;
}
@media (max-width: 1199px) {
  header .dropdown-header {
    padding-left: 0;
  }
}
header .navbar-nav {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
[dir=rtl] header .navbar-nav {
  padding-left: unset;
  padding-right: 0;
}
header .navbar-nav .nav-item {
  margin-bottom: 0;
  position: relative;
}
header .navbar-nav .nav-item:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 100%;
  position: absolute;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header .navbar-nav .nav-item.active::before, header .navbar-nav .nav-item:hover::before {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}
header .navbar-nav .nav-item:hover {
  color: rgba(var(--theme-color), 1);
}
header .navbar-nav .nav-item.dropdown .nav-link {
  padding-right: 30px;
}
header .navbar-nav .nav-item.dropdown .nav-link::before {
  position: absolute;
  content: "\ea4e";
  font-family: remixicon !important;
  font-weight: 400;
  right: 0;
}
[dir=rtl] header .navbar-nav .nav-item.dropdown .nav-link::before {
  right: unset;
  left: -16px;
}
@media (max-width: 1199px) {
  header .navbar-nav .nav-item.dropdown .nav-link::before {
    right: 0;
  }
  [dir=rtl] header .navbar-nav .nav-item.dropdown .nav-link::before {
    right: unset;
    left: 0;
  }
}
header .navbar-nav .dropdown-menu {
  min-width: 220px;
  margin: 0;
  margin-top: -8px;
  background-color: rgba(var(--white), 1);
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.7), 5px 20px 40px 0 rgba(var(--title-color), 0.4);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.7), 5px 20px 40px 0 rgba(var(--title-color), 0.4);
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  position: static;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  display: block !important;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover {
  position: relative;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover > a {
  display: block;
  position: relative;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover > a .new-text i {
  font-size: 12px;
  margin-left: 4px;
  color: rgba(var(--theme-color), 1);
}
[dir=rtl] header .navbar-nav .dropdown-menu .sub-dropdown-hover > a .new-text i {
  margin-left: unset;
  margin-right: 4px;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover > a::before {
  position: absolute;
  content: "\f105";
  font-weight: 900;
  font-family: remixicon !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
[dir=rtl] header .navbar-nav .dropdown-menu .sub-dropdown-hover > a::before {
  right: unset;
  left: 0;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
  left: 113%;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
    left: unset;
  }
}
[dir=rtl] header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
  left: unset;
  right: 113%;
}
@media (max-width: 1199px) {
  [dir=rtl] header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
    left: unset;
    right: unset;
  }
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu {
  position: absolute;
  top: -19px;
  left: 123%;
  min-width: 200px;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  background-color: rgba(var(--white), 1);
  border-color: transparent;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[dir=rtl] header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu {
  right: 123%;
  left: unset;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu {
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    min-width: auto;
    z-index: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 5px 0 12px 29px;
    padding: 0;
  }
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a {
  padding: 0;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  color: rgba(var(--title-color), 1);
  display: block;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a:hover::after {
  width: 40%;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: rgba(var(--theme-color), 1);
  opacity: 0.3;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header .navbar-nav .dropdown-menu-2 {
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
  width: 52vw;
  min-width: unset;
  padding: 22px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
header .navbar-nav .dropdown-menu-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
[dir=rtl] header .navbar-nav .dropdown-menu-2::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu-2::after {
    content: none;
  }
}
@media (max-width: 1400px) {
  header .navbar-nav .dropdown-menu-2 {
    background-position: 20px center;
  }
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu-2 {
    width: 100%;
    padding: 0 !important;
    left: 0;
    margin: 0;
  }
}
header .navbar-nav .dropdown-menu .dropdown {
  margin-right: 20px;
  margin-left: 20px;
}
header .navbar-nav .dropdown-menu .dropdown:last-child {
  margin-bottom: 12px;
}
header .navbar-nav .dropdown-menu .dropdown .dropdown-toggle::after {
  display: none;
}
header .navbar-nav .dropdown-menu .dropdown-menu {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}
header .navbar-nav .dropdown-image {
  background-image: none;
}
header .navbar-nav .dropdown-image::after {
  content: none;
}
@media (max-width: 991px) {
  header .navbar-nav .dropdown-image {
    left: 0;
    margin-top: 0;
  }
}
header .navbar-nav .dropdown-image .dropdown-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-image .dropdown-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item {
  margin: 0 !important;
  text-align: center;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item::after {
  content: none;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-image .dropdown-column .dropdown-item {
    padding: 0;
  }
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover img {
  -webkit-box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.07);
          box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.07);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover span {
  color: rgba(var(--theme-color), 1);
  font-weight: 600;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover span::after {
  width: 100%;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item img {
  width: 100%;
  -webkit-box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item span {
  display: inline-block;
  margin-top: 14px;
  text-align: center;
  font-size: calc(14px + 2 * (100vw - 1200px) / 720);
  margin-bottom: -6px;
  position: relative;
  z-index: 0;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: rgba(var(--theme-color), 1);
  opacity: 0.3;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 16px;
  font-size: calc(21px + 0.45vw);
  white-space: nowrap;
  display: inline-block;
  font-weight: 500;
}
header .navbar-brand:hover {
  text-decoration: none;
}
header .navbar-brand:focus {
  text-decoration: none;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-item + .nav-item {
  margin-left: calc(30px + 10 * (100vw - 1200px) / 720);
}
[dir=rtl] header .navbar.navbar-expand-xl .navbar-nav .nav-item + .nav-item {
  margin-left: unset;
  margin-right: calc(30px + 10 * (100vw - 1200px) / 720);
}
@media (max-width: 1199px) {
  header .navbar.navbar-expand-xl .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  [dir=rtl] header .navbar.navbar-expand-xl .navbar-nav .nav-item + .nav-item {
    margin-left: unset;
    margin-right: 0;
  }
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link::after {
  content: none;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link .icli {
  margin-left: 10px;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link .label-menu {
  position: absolute;
  top: -10px;
  left: 84%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 8px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 16px;
  padding: 0 8px;
  font-weight: 600;
  color: rgba(var(--white), 1);
  background-color: rgba(var(--theme-color), 1);
  border-radius: 50px;
}
@media (max-width: 1199px) {
  header .navbar.navbar-expand-xl .navbar-nav .nav-link .label-menu {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin-left: 10px;
    margin-right: auto;
    border-radius: 3px;
  }
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link .label-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: inline-block;
  top: 100%;
  left: 10px;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(var(--theme-color), 1);
}
@media (max-width: 1199px) {
  header .navbar.navbar-expand-xl .navbar-nav .nav-link .label-menu::before {
    content: none;
  }
}
[dir=rtl] header .navbar.navbar-expand-xl .navbar-nav .nav-link .label-menu::before {
  left: unset;
  right: 10px;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link-2::before {
  content: none;
}
header .navbar-text {
  padding-top: 9px;
  padding-bottom: 9px;
}
header .navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar-toggler {
  background-color: transparent;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding: 12px;
  font-size: 18px;
  margin-right: 10px;
  padding: 0;
}
[dir=rtl] header .navbar-toggler {
  margin-right: unset;
  margin-left: 10px;
}
@media (max-width: 767px) {
  header .navbar-toggler {
    margin-right: 0;
  }
}
header .navbar-toggler:focus-visible {
  outline: none;
}
header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .navbar-toggler-icon {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: rgba(var(--title-color), 1);
  -webkit-text-fill-color: rgba(var(--title-color), 1);
  -webkit-opacity: 1;
}
@media (max-width: 767px) {
  header .navbar-toggler-icon {
    margin-right: 0;
  }
}
header .navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}
header .navbar-expand {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  left: 26px;
  top: 30px;
  -webkit-box-shadow: 0px 3px 4px rgba(var(--black), 0.14);
          box-shadow: 0px 3px 4px rgba(var(--black), 0.14);
}
header .navbar-expand .navbar-nav-scroll {
  overflow: visible;
}
header .navbar-expand .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
header .navbar-expand .navbar-toggler {
  display: none;
}
header .navbar-light .navbar-brand {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-brand:hover {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-brand:focus {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-nav .nav-link {
  color: rgba(var(--white), 1);
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .nav-link.active {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-toggler {
  color: rgba(var(--content-color), 1);
  border-color: transparent;
}
header .navbar-light .navbar-text {
  color: rgba(var(--content-color), 1);
}
header .navbar-light .navbar-text a {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-text a:hover {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-text a:focus {
  color: rgba(var(--theme-color), 1);
}
header .navbar {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  z-index: 1;
}
[dir=rtl] header .navbar {
  padding-left: unset;
  padding-right: 15px;
}
header .navbar:not(.navbar-stuck) .navbar-stuck-btn {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(var(--title-color), 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
header .navbar-shadow {
  -webkit-box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
          box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
}
header .navbar-floating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar-stuck .navbar-btn {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(var(--title-color), 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
header .navbar-stuck-logo {
  display: none;
}
header .navbar-sticky.navbar-stuck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: navbar-show 0.25s;
          animation: navbar-show 0.25s;
  background-color: rgba(var(--white), 1);
  -webkit-box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
          box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
}
header .header-nav-middle {
  margin: auto !important;
}
header .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: rgba(var(--white), 1);
  background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform, box-shadow;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease, -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  visibility: visible !important;
}
header .offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 1199px) {
  header .offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
    width: calc(300px + 20 * (100vw - 1200px) / 720);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 7;
  }
}
header .offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 24px;
  z-index: 1;
}
header .offcanvas-header .btn-close {
  padding: 0;
  margin: -10px 0;
  font-size: 16px;
}
header .offcanvas-header h5 {
  color: rgba(var(--theme-color), 1);
  font-weight: 600;
}
header .offcanvas-title {
  margin-bottom: 0;
  line-height: initial;
}
header .offcanvas-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  overflow-y: auto;
  height: 100%;
}
header .offcanvas-body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  opacity: 0;
}
header .offcanvas-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
header .offcanvas-body > .simplebar-track {
  display: block;
  background-color: transparent;
}
header .offcanvas-body .simplebar-vertical {
  margin-right: 3px;
}
header .offcanvas-start {
  top: 0;
  left: 0;
  width: 352px;
  border-right: 0 solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
header .offcanvas-end {
  top: 0;
  right: 0;
  width: 352px;
  border-left: 0 solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
header .offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-bottom: 0 solid transparent;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
header .offcanvas-bottom {
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-top: 0 solid transparent;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
header .offcanvas.show {
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04) !important;
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04) !important;
}
header .offcanvas-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 24px;
}
header .sidebar-toggle {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: 1025;
}
header .hot-deal-box {
  color: #e21719;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
header .hot-deal-box img {
  margin-right: 7px;
}
header .hot-deal-box span {
  font-size: 16px;
  font-weight: 500;
}
@media (prefers-reduced-motion: reduce) {
  header .navbar-toggler {
    -webkit-transition: none;
    transition: none;
  }
  header .offcanvas {
    -webkit-transition: none;
    transition: none;
  }
}
@media (min-width: 1200px) {
  header .navbar-expand-xl.navbar .offcanvas-body {
    overflow: visible;
  }
  header .navbar-expand-xl.navbar-sticky.navbar-stuck .navbar-floating-logo {
    display: none !important;
  }
  header .navbar-expand-xl .navbar-stuck-logo {
    display: block;
  }
  header .navbar-expand-xl .navbar-nav {
    position: relative;
    padding-top: 0;
  }
  header .navbar-expand-xl .navbar-nav .nav-item {
    border: 0;
  }
  header .navbar-expand-xl .navbar-nav .nav-item:hover > .nav-link:not(.disabled) {
    color: rgba(var(--theme-color), 1);
  }
  header .navbar-expand-xl .navbar-nav .nav-item.active > .nav-link:not(.disabled) {
    color: rgba(var(--theme-color), 1);
  }
  header .navbar-expand-xl .navbar-nav > .dropdown > .dropdown-toggle::after {
    display: none;
  }
  header .navbar-expand-xl .dropdown-menu {
    margin-top: 0;
    -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
            box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
    background-color: rgba(var(--white), 1);
    border-color: rgba(var(--white), 1);
    padding: 20px;
    border-radius: 0;
  }
  header .navbar-expand-xl .dropdown-menu-left {
    left: 0;
    -webkit-transform: translateX(0%) translateY(-15px);
            transform: translateX(0%) translateY(-15px);
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-menu-left {
    left: unset;
    right: 0;
  }
  header .navbar-expand-xl .dropdown-menu li {
    display: block;
    width: 100%;
  }
  header .navbar-expand-xl .dropdown-menu li:first-child .dropdown-item {
    margin: 0;
    margin-top: -3px;
  }
  header .navbar-expand-xl .dropdown-menu li:last-child .dropdown-item {
    margin-bottom: -4px;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-column {
    margin: 5px;
    position: relative;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-column:first-of-type {
    margin-left: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:hover::after {
    width: 40%;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:active {
    color: rgba(var(--black), 1);
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 2px;
    left: 0;
    background-color: rgba(var(--theme-color), 1);
    opacity: 0.3;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-menu .dropdown-item::after {
    left: unset;
    right: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    letter-spacing: 0.03em;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-left: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle {
    position: relative;
    padding-right: 26px;
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle {
    padding-right: 20px;
    padding-left: 26px;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle::after {
    position: absolute;
    content: "\f105";
    font-weight: 900;
    font-family: remixicon !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: unset;
    height: unset;
    display: block;
    right: 10px;
    border: none;
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle::after {
    right: unset;
    left: 10px;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown:last-child {
    margin-bottom: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    width: auto;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 5px;
    background-color: rgba(var(--white), 1);
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-menu .dropdown-menu {
    left: unset;
    right: 100%;
  }
  header .navbar-expand-xl .dropdown-menu.show {
    display: none;
  }
  header .navbar-expand-xl .dropdown-menu.dropdown-menu-end {
    right: 0;
    left: auto;
  }
  header .navbar-expand-xl .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: block !important;
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-2 {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    display: block !important;
  }
  [dir=rtl] header .navbar-expand-xl .dropdown:hover .dropdown-menu-2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-center {
    -webkit-transform: translateX(0%) translateY(0);
            transform: translateX(0%) translateY(0);
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-left {
    -webkit-transform: translateX(0%) translateY(0);
            transform: translateX(0%) translateY(0);
  }
  header .navbar-expand-xl .dropdown-mega {
    position: relative;
  }
  header .navbar-expand-xl .dropdown-mega > .dropdown-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .navbar-expand-xl .dropdown-mega:hover > .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-menu .dropdown-item {
    padding: 0;
    margin: 10px 0px 0 0;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column.dropdown-column-img {
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column {
    margin-top: 5px;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column .dropdown-header {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
  }
  [dir=rtl] header .navbar-expand-xl .dropdown-mega .dropdown-column .dropdown-header {
    padding: 0;
  }
  header .offcanvas-expand {
    -webkit-transform: none !important;
            transform: none !important;
    z-index: 1031;
  }
  header .offcanvas-expand.offcanvas-start {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-expand.offcanvas-end {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-expand.offcanvas-bottom {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    -webkit-transform: none !important;
            transform: none !important;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .offcanvas-collapse .offcanvas-header {
    display: none;
  }
  header .offcanvas-collapse .offcanvas-footer {
    display: none;
  }
  header .offcanvas-collapse .offcanvas-body {
    padding: 0;
    overflow: initial;
  }
  header .offcanvas-enabled-start {
    padding-left: 376px;
  }
  header .offcanvas-enabled-end {
    padding-right: 376px;
    padding-left: 0;
  }
}
header .navbar-expand-xl .offcanvas {
  -webkit-box-flex: 1;
}
@media (max-width: 1199px) {
  header .navbar-expand-xl .offcanvas {
    z-index: 4;
    -webkit-box-flex: 2;
  }
}
header .offcanvas-backdrop {
  z-index: 6;
}
@media (max-width: 1199px) {
  header .offcanvas-collapse .offcanvas-body .navbar-nav {
    padding-top: 0;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-item {
    border-top: 0;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgba(var(--content-color), 1);
    font-weight: 700;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link:hover {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link.active {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link.disabled {
    color: rgba(var(--content-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .show > .nav-link {
    color: rgba(var(--theme-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .active > .nav-link {
    color: rgba(var(--theme-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu li {
    display: block;
    width: 100%;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(var(--content-color), 1);
    font-size: 14px;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item.active {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item.disabled {
    color: rgba(var(--content-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-header {
    font-size: 16px;
    font-weight: 600;
  }
  header .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none !important;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  header .navbar-nav .dropdown-menu.show {
    display: block !important;
  }
}

/**=====================
     header scss
==========================**/
header {
  padding: 24px 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
}

/**=====================
     footer section scss
==========================**/
/**=====================
     Home Page scss
==========================**/
.home-section {
  text-align: center;
  padding: 190px 0 60px;
  position: relative;
  background-image: url(../images/home/home-bg.png);
  z-index: 1;
}
.home-section .bg-effect .bg-gif {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  z-index: -1;
  top: 100px;
  opacity: 0.04;
}
.home-section .bg-effect .effect1 {
  position: absolute;
  left: 7%;
  top: 24%;
}
.home-section .bg-effect .effect2 {
  position: absolute;
  right: 8%;
  bottom: 28%;
}
.home-section .home-content h1 {
  color: rgba(var(--title-color), 1);
}
.home-section .home-content h1 .title-effect {
  padding: 3px 20px;
  background-color: #17273f;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
.home-section .home-content h1 .title-effect img {
  position: absolute;
  left: -18px;
  top: -18px;
  height: calc(100% + 36px);
  width: calc(100% + 36px);
}
.home-section .home-content h1 .title-effect span {
  background: url("../images/title-bg.jpg");
  background-position: bottom;
  -webkit-background-clip: text;
  color: transparent;
}
.home-section .home-content p {
  width: 60%;
  margin: 0 auto;
  margin: 32px auto;
}
.home-section .home-content .start-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(var(--theme-color), 1);
  font-size: 22px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.home-section .home-content .start-link:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home-section .home-content .start-link svg {
  stroke: rgba(var(--theme-color), 1);
}
.home-section .home-laptop {
  margin-top: 48px;
}
.home-section .home-laptop .laptop-sec {
  -webkit-perspective: 1130px;
          perspective: 1130px;
}
.home-section .home-laptop .laptop-img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  vertical-align: middle;
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
  will-change: transform;
}
.home-section .home-laptop .hand-sec .left-hand {
  position: absolute;
  bottom: calc(-100% + 108px);
  left: 215px;
}
.home-section .home-laptop .hand-sec .right-hand {
  position: absolute;
  bottom: calc(-100% + 108px);
  right: 215px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.home-section .home-laptop .hand-sec .left-finger {
  position: absolute;
  bottom: -8px;
  left: 305px;
  z-index: 1;
}
.home-section .home-laptop .hand-sec .right-finger {
  position: absolute;
  bottom: -8px;
  right: 305px;
  z-index: 1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.home-section .home-laptop .home-info {
  margin-top: 75px;
}
.home-section .home-laptop .home-info .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
  position: relative;
}
.home-section .home-laptop .home-info .info-list:after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home-section .home-laptop .home-info .info-list li {
  font-size: 20px;
  color: rgba(var(--theme-color), 1);
  padding-left: 15px;
  position: relative;
}
.home-section .home-laptop .home-info .info-list li:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.home-section .home-laptop .home-info .star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  color: #ffb800;
  margin-top: 8px;
}
.home-section .home-laptop .home-info .star-rating i {
  font-size: 18px;
}
.home-section .home-laptop .home-info h4 {
  color: rgba(var(--title-color), 1);
  max-width: 27%;
  margin: 4px auto 0;
}

.service-section {
  padding: 200px 0;
  background: linear-gradient(180.02deg, rgba(245, 245, 245, 0.08) 0.02%, rgba(245, 245, 245, 0) 90.86%);
}
/*# sourceMappingURL=style.css.map */